/*
====================================
About Page Styling
====================================
*/
.about-text1 {
	padding: 30px 0;
}
.about h2 {
	font-family: 'Playfair Display', serif;
	color:  #292f33;
	font-size: 34px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 40px;/* Approximation due to font substitution */
	text-align: left;
}
.about p {
	font-family: 'Droid Serif', serif;
	color:  #9AA7B3;
	font-size: 14px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 22px;/* Approximation due to font substitution */
	text-align: left;
	&:hover {

	}
}
.about h3 {
	font-family: 'Playfair Display', serif;
	color:  #292f33;
	font-size: 32px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 48px;/* Approximation due to font substitution */
	text-align: left;
	margin: 5px 0;
}
.about h5 {
	font-family: 'Roboto', sans-serif;
	color:  #292f33;
	font-size: 16px;/* Approximation due to font substitution */
	font-weight: 700;
	line-height: 28px;/* Approximation due to font substitution */
	text-align: left;
	text-transform: uppercase;
}
.red-line {
	height: 2px;
	width: 20px;
	background: red;
	border-radius: 1px;
}
.about-team {
	background: #F3F6F9;
	padding: 30px 60px;
	a {
		color: red;
		text-decoration: underline;
	}
}

@media (max-width: 991px) {
	.about-team-players {
		padding: 10px 40px 20px;
	}
}



.about-headshot {
	border-radius: 50%;
	padding: 10px;
}

.about-join {
	padding: 50px 0;
	text-align: center;
	blockquote {
		font-style: italic;
		font-family: 'Droid Serif', serif;
		color:  #9AA7B3;
		font-size: 14px;/* Approximation due to font substitution */
		font-weight: 400;
		line-height: 22px;/* Approximation due to font substitution */
	}
	a {
		margin-top: 15px;
		padding: 15px;
		background: #1F2327;
		color: white;
		&:hover {
			background: white;
			color: #1F2327;
			border: 2px solid #1F2327;
		}
	}
}
.about-quotes {
	padding: 20px 0;
	border: 1px solid red;
}
p.about-quote-author {
	display: inline-block;
	margin: 0 auto;
	color: #C0CBD3;
}

