/*
====================================
Blog Page Styling
====================================
*/

h2.first {
	margin-top: 0;	
	a {
		text-decoration: none;
		font-family: PlayfairDisplay;
		color:  #292f33;
		font-size: 72px;/* Approximation due to font substitution */
		font-weight: 400;
		line-height: 64px;/* Approximation due to font substitution */
		// text-align: left;
	}
}

.lnr-arrow-right {
	display: block;
}

.excerpt-content p {
	font-family: DroidSerif;
	color:  #66757f;
	font-size: 16px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 28px;/* Approximation due to font substitution */
	text-align: left;
	margin: 0;
}

.lnr-arrow-right {
	color:#292f33;
}

h2.subsequent a {
	font-family: PlayfairDisplay;
	color:  #292f33;
	font-size: 24px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 38px;/* Approximation due to font substitution */
	text-align: left;
}

.sub-entry-meta p {
	font-family: DroidSerif;
	color:  #ccd6dd;
	font-size: 14px;/* Approximation due to font substitution */
	font-style: italic;
	line-height: 28px;/* Approximation due to font substitution */
	text-align: left;
	margin-top: 0;
}

.sub-entry-meta p a {
	color:  #ff2641;
	text-decoration:none;
}

article.first-post {
	// width: 50%;
	// border:2px solid pink;
	float: left;
	height: 570px;
	width: 570px;
	margin-right: 15px;
	margin-bottom: 15px;
	background-color: pink;
}

article.sub-post {
	float: left;
	width: 570px;
	height: 270px;
	background-color: #f3f6f8;
}

article.sub-post-col {
	// width: 25%;
	// border:2px solid purple;
	float: left;
	height: 570px;
	width: 270px;
	background-color: #cad4db;
}

.title-mini {
	width: 270px;
	height: 270px;
}

.title-mini-float {
	float: left;
}

figure.horizontal,
.filler-div-h {
	width: 300px;
	height: 270px;
	float: left;
}

figure.vertical,
.filler-div-v {
	width: 270px;
	height: 300px;
}

.filler-div {
	background-color: #ffefd5;
}

.margin-right {
	margin-right: 15px;
}
