footer {
	clear:both;
	#nav {
		text-align: center;
		#menu-footer-menu {
			padding-left: 0;
			li {
				color: #b5c2ca;
				font-size: 16px;
				margin:0 15px;
				a {
				display: none;
				}
			} 
		}
	}
}

.site-logo-footer img {
	display: block;
	margin:0 auto;
}

.copyright {
	margin:0;
	text-align: center;
	font-family: DroidSerif;
	color:  #b5c2ca;
	font-size: 14px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 28px;/* Approximation due to font substitution */
}
