// footer {
// 	clear: both;
// 	.site-logo img {
// 		display: block;
// 		margin: 0 auto;
// 	}
// 	.copyright {
// 		margin:0;
// 		text-align: center;
// 	}
// 	#menu-footer-menu 
// 		li a {
// 			display: none;
// 		}
// }

footer {
	clear:both;
	#nav {
		text-align: center;
		#menu-footer-menu {
			padding-left: 0;
			li a {
				display: none;
				// text-indent: -9999px;
			}
		}
	}
}

.site-logo img {
	display: block;
	margin:0 auto;
}

.copyright {
	margin:0;
	text-align: center;
}