// input[type="submit"] {
//     font-family: FontAwesome;
// }
.pageHeader {
	padding: 20px 0;
}

#searchInput {
	width: 74%;
}
.vcenter {
    position: relative;
    top: 40px;
}

.toggleSearch {
	color: black;
	&:hover {
		color:grey;
	}
}