// input[type="submit"] {
//     font-family: FontAwesome;
// }
.pageHeader {
	padding: 20px 0;
}

#searchInput {
	width: 74%;
}
.vcenter {
    position: relative;
    top: 75px;
    text-align: right;
}
@media (max-width: 767px) {
	.header-logo {
		text-align: center;
	}
	.vcenter {
		position: static;
		text-align: center;
	}
}

.toggleSearch {
	color: black;
	&:hover {
		color:grey;
	}
}

.site-logo img {
	margin: 0;
}

#searchform {
	display: inline-block;
}
#menu-header-menu {
	display: inline-block;
}