/*
====================================
Blog Post Styling
====================================
*/
.entry-title-single {
	font-family: 'Playfair Display', serif;
	color:  #292f33;
	font-size: 60px;/* Approximation due to font substitution */
	font-weight: 700;
	line-height: 72px;/* Approximation due to font substitution */
}

.entry-meta {
	// display: inline-block;
	font-family: 'Droid Serif', serif;
	color:  #8899a6;
	font-size: 16px;/* Approximation due to font substitution */
	font-style: italic;
	line-height: 32px;/* Approximation due to font substitution */
	a {
		font-family: 'Droid Serif', serif;
		color:  #ff2641;
		font-size: 16px;/* Approximation due to font substitution */
		font-style: italic;
		line-height: 32px;/* Approximation due to font substitution */
		padding: 1%;
		transition: all 0.5s ease;
		&:hover {
			color: white;
			background:  #ff2641
		}
	}
}
.entry-meta p::before {
		content: "  ";
		display: inline-block;
		width: 100px;
		height: 2px;
		background: grey;
		position: relative;
		bottom: 3px;
		right: 70px;
}
.entry-meta p::after {
		content: "  ";
		display: inline-block;
		width: 100px;
		height: 2px;
		background: grey;
		position: relative;
		bottom: 3px;
		left: 70px;
}

@media (max-width: 518px) {
	.entry-meta p::before {
		right: 40px;
		width: 50px;
	}
	.entry-meta p::after {
		left: 40px;
		width:50px;
	}
}

@media (max-width: 398px) {
	.entry-meta p::before {
		right: 20px;
		width: 20px;
	}
	.entry-meta p::after {
		left: 20px;
		width:20px;
	}
}


.entry-content {
	font-family: 'Droid Serif', serif;
	color:  #66757f;
	font-size: 16px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 32px;/* Approximation due to font substitution */
	text-align: left;
	blockquote {
		background: none;
		font-family: 'Playfair Display', serif;
		color:  #292f33;
		font-size: 36px;/* Approximation due to font substitution */
		font-style: italic;
		line-height: 48px;/* Approximation due to font substitution */
		text-align: center;
	}
}
.synved-social-container {
	display: inherit;
	text-align:center;
}
.entry-utility {

	margin: 35px 0;
	height: 140px;
	border-bottom: 2px solid #ccd6dd;
}
@media (max-width: 525px) {
	.entry-utility {
		height:170px;
	}
}
.tags {
	text-align: left;
	p {
		font-family: 'Droid Serif', serif;
		color:  #ccd6dd;
		font-size: 16px;/* Approximation due to font substitution */
		font-style: italic;
		line-height: 38px;/* Approximation due to font substitution */
	}
	a {
		font-family: 'Droid Serif', serif;
		color:  #8899a6;
		font-size: 14px;/* Approximation due to font substitution */
		font-weight: 400;
		line-height: 28px;/* Approximation due to font substitution */
		padding: 2%;
		border-radius: 5px;
		border: 2px solid #ccd6dd;
		margin-top: 10px;
		margin-bottom: 10px;
		transition: all 0.5s ease;
		&:hover {
			background: #ccd6dd;
			color: white;
		}
	}
}

.wp-post-image {
	height: 200px;
	width: 266px;
}


.author-info {
	text-align:left;
	margin-bottom: 100px;
	// height: 350px;
}

.avatar	{
	border-radius: 50%;
}

.single-author {
	font-family: 'Playfair Display', serif;
	color:  #292f33;
	font-size: 24px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 38px;/* Approximation due to font substitution */
}

.single-bio {
	font-family: 'Droid Serif', serif;
	color:  #8899a6;
	font-size: 14px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 28px;/* Approximation due to font substitution */
	text-align: left;
}

.more-posts {
	position:relative;
	// top:104px;
	li {
		padding: 10px;
		list-style: none;
	}
	a{
		padding: 2%;
		color: black;
		border-bottom: 2px solid black;
		transition: all 0.5s ease;
		&:hover {
			// border-bottom: 2px solid black;
			background: black;
			color: white;
		}
	}
}
@media (min-width: 767px) {
	.more-posts {
		top: 120px;
	}
}

.single-nav a {
	font-family: 'Playfair Display', serif;
	font-size: 20px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 38px;/* Approximation due to font substitution */

}
.single-nav-text {

	a {
		padding: 1%;
		color: black;
		transition: all 0.5s ease;
		&:hover {
			background:black;
			color: white;
		}
	}
}



